/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/GalleryOne/galleryone.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.galleryone_galleryScrollContainer__WxxOl {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding: 20px 0;
  gap: 10px;
  
  /* Hide scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.galleryone_galleryScrollContainer__WxxOl::-webkit-scrollbar {
  display: none;
}

.galleryone_galleryItem__0ZOtv {
  flex: 0 0 auto;
  display: inline-block;
  width: 220px;
  margin-right: 10px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.galleryone_galleryItem__0ZOtv:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

